.seccion4p {
    display:flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.una-promo {
    flex: 1 0 19%; 
    margin: 6px 10px;
    height: fit-content;
    background: white;
    transition: transform .2s;
}

.una-promo:hover {
    transform: scale(1.01)
}

.una-promo h3 {
    font-size: 20px;
    text-align: center;
}

.una-promo img {
    width:80%;
    cursor:pointer;
    height: 175px;
}

.una-promo .descripcion {
    color: darkolivegreen;
    margin: 6px;
    padding: 10px;
    font-weight: bold;
    font-size: 19px;
}

.una-promo .precio {
    font-size: 24px;
    text-align: center;
    margin: 2px 3px;
}

.una-promo .precio span {
    color: red;
    font-size: 21px;
}

.una-promo .cat-des {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: 80%;
}

.una-promo .cat-des p {
    cursor:pointer;
}

.una-promo .cat-des p:first-child:hover {
    color: purple;
}

.una-promo .cat-des p:last-child:hover {
    text-decoration-line: underline;
}