@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#App {
  overflow:auto;
  background-color: #9acd32ab;

}

#page-wrap {
  text-align: center;
  overflow: auto;
  padding-bottom:50px;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: dimgrey;
  transition: color 0.2s;
  padding: 8px 10px
}

.bm-item:focus,.menu-item:focus {
  display:inline-block !important;
}

.bm-item:hover {
  color: darkolivegreen;

}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

.bm-burger-bars {
  background: #726046;
  font-size: 22px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #f8f5f5;
  padding: 1.5em 1.5em 0;
  font-size: 20px;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: dimgrey;
  font-size:18px;
}


.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}