main {
    background-color: #e6dfc7;
}

.mas-vendidos {
    background-color: white;
    margin: 5px;
}

.mas-vendidos h4 {
    padding-top: 15px
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    flex: 1 0 15%; 
    margin: 5px;
    height: 100%;
    position:relative;
}

.producto img {
    width:80%;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity:1;
}

.producto:hover img {
    opacity: 0.3;  
}

.producto p {
    font-size: 12px;
    width:100%;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle p {
    font-size:40px;
}

.producto:hover .middle{
    opacity:1;
}


.promos {
    display:flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.una-promo {
    flex: 1 0 21%; 
    margin: 5px;
    height: 100%;
    background: white;
}

.una-promo h3 {
    font-size: 20px;
    color: darkolivegreen;
    text-align: left;
    margin-left: 30px
}

.una-promo img {
    width:80%;
    cursor:pointer;
}

.una-promo .descripcion {
    color: darkgreen;
    margin: 6px;
    padding: 10px;
    font-size: 21px;
}

.una-promo .precio {
    font-size: 25px;
    text-align: left;
    margin: 2px 2px 3px 30px;
}

.una-promo .precio span {
    color: red;
    font-size: 21px;
}

.una-promo .cat-des {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: 80%;
}

.una-promo .cat-des p {
    cursor:pointer;
}