main {
    background-color: #e6dfc7;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle p {
    font-size:40px;
}

.producto:hover .middle{
    opacity:1;
}